<!--
  User: Gavin
  E-mail: GavinChangCN@163.com
  Desc: 
  Date: 2017-03-06
  Time: 22:44
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>错误页</title>
</head>

<body>
    <h3 style="align-content: center" th:text="|当前网络请求发声了一个错误: ${errorMessage}|"></h3>
</body>
</html>